@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: 'Ubuntu Mono', monospace;
  padding: 2rem;
}

.dliText, .liText {
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}

i {
  font-weight: 400;
}

s {
  font-style:normal;
  text-decoration: none;
  font-weight:400;
  font-family: 'Mansalva', cursive;
}

ul {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: inherit;
}

.boxes {
  font-size: small;
  overflow-wrap: anywhere;
}

section.boxes.inset {
  border:#d4d4d4 dashed 2px;
  margin: .2em;
  padding-right: 1rem;
  padding-bottom: .5rem;
}

.boxes div.li {
  margin-top: .5em;
  padding: 0 0 0.5rem 1rem;
}

.boxes div.li:hover,
li:hover {
  background-color: yellow;
}

.boxes div.ul {
  /* display: flex;
  flex-wrap: wrap;  */
  border-style: solid;
  border-width: 2px;
  border-color: inherit;
  margin-top: .2em;
  padding-right: .5rem;
}

.boxes div.end {
  padding: .5em;
}

.boxes div.see-inset {
  padding: .5em;
  font-size: medium;
}

.boxes .icon {
  color: #1e1e1e;
  background-color: #d4d4d4;
  font-size: medium;
  width:fit-content;
}

.list {
  margin-top: 1.5rem;
}